*{
	margin: 0px;
	padding: 0px;
}

html {
  height: 100%;
}
body {
  background:#fff;
  font-family:'Lato';
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

main{
  height: 100vh;
}

/*----------------Navbar----------------*/
img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.logo img{
  width: 100px;
}

.headerIcons img{
  width: 30px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #84D8F6!important;
}

.navbar-light .navbar-toggler {
  border: none;
}

ul.navbar-nav.mr-auto{
  align-items: center;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
  margin: 6px 0px;
  text-transform: uppercase;
}

/*------------------------------INDEX------------------------------*/
.card-body.mx-auto{
  text-align: center;
}
.addObjectButton{
  position: fixed;
	width: 100vw;
	bottom: 0;
  background-color: LawnGreen;
  padding: 3%;
  color: white;
  font-weight: bold;
  text-align: center;
}

#homePage{
  padding: 2%;
}

h1.groupName{
  text-align: center;
  color: #707070;
  font-weight: bold;
  font-size: 25px;
}

.allProdutsText{
  color: #707070;
}

/* news */
#news{
  background-color: red ;
  padding: 30px;
  color: white;
  font-weight: bold;
}

/*Content : All objects display*/

.homeContentObjects{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-around;
  padding: 5px;
  padding-bottom: 15%;
}

.object{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  border: 1px solid lightslategrey; 
}

img.productPicture{
  width: 170px;
  height: 170px;
}


/*------------------------------REGISTER------------------------------*/
.divider-text {
    position: relative;
    text-align: center;
    /* margin-top: 15px;
    margin-bottom: 15px; */
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.registerLogo{
 text-align: center;
 margin-top: 8%;
}

.bg-light {
  background-color:#84D8F6!important;
  min-height: 100%;
}

.card-title.mt-3.text-center{
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group.input-group{
  margin: 15px 0px 15px 0px;
}

.btn-primary {
  color: #fff;
  margin-top: 30px;
  background-color:#10DF4D;
  border-color: #10DF4D;
  border-radius: 4px;
}


/*------------------------------LOGIN------------------------------*/

.loginPage{
  height: 100%;
  text-align: center;
}


/*------------------------------REGISTER_GROUP------------------------------*/
.registerGroupLogo{
  text-align: center;
  margin: 20px 0px 50px 0px;
}
.welcome_message{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-top:5%;
}
.registerGroupMessage{
  color: white;
  text-align: center;
}


/*-----------------------------------PROFIL-------------------------------------*/
img.profilImage{
  width: 40px;
  border-radius:50px;
}

.filterBar a{
  background: lightskyblue center center no-repeat;
}

.filterBar a.active{
  background-color:lightgreen;
}

/*-----------------------------------PRODUCT-------------------------------------*/

#productPage{
  padding: 7%;
  text-align: center;
}
.objBooked{
  color: red;
}
.objFree{
  color: green;
}
/*--------------------------------------------------OTHER PAGES--------------------------------------------------*/
.pageName{
  text-align: center;
  color: #707070;
  font-weight: bold;
  font-size: 20px;
}

/***My_group***/
.infoGroup{
  margin: 10px;
}

.groupDate{
  font-size: 0.8rem;
}

.groupDescription{
  font-size: 0.9rem;
}
.groupModify{
  padding: 2%;
  background-color: #FFF700;
  width: 30%;
}
/*****************MEDIA QUERIES*********************/

/*Iphone 5*/
@media screen and (max-width: 320px) {
  img.productPicture{
    width: 130px;
    height: 130px;
  }
}

/*Galaxy S5*/
@media screen and (min-width: 321px) and (max-width: 380px) {
  img.productPicture{
    width: 150px;
    height: 150px;
  }
}

/*Tablette et pc*/
@media screen and (min-width: 1000px) and (max-width: 5120px){
  img.productPicture {
    width: 300px;
    height: 300px;
  }

  .headerIcons{
    position: absolute;
    right: 0px;
    margin-right: 30px;
  }
}
